<!DOCTYPE html>
{% extends "../superAdmin/basesuadmin.html" %}

{% load static %}

{% block content %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/superAdmin/stylesregusu.css' %}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <h1>Formulario de Préstamo</h1>
    <h1>Crear Préstamo</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar Préstamo</button>
    </form>
</body> {% endblock %}

</html>